<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="img-web-logo" src="assets\icon\web-logo-color.svg" alt="">
        </a>
        <div class="vetical-divider"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <div class="nav navbar-nav align-self-center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle navbar-item" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DISCOVER
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                    <div class="row">
                        <div class="col">
                            <div class="dropdown-menu dropdown-menu-dark">
                                <div class="container-dropdown">
                                    <div class="container-dropdown-links">
                                        <li><a class="dropdown-item" href="#">New releases</a></li>
                                        <li><a class="dropdown-item" href="#">Bestsellers</a></li>
                                        <li><a class="dropdown-item" href="#">On sale</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">RPG</a></li>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Adventure</a></li>
                                        <li><a class="dropdown-item" href="#">Strategy</a></li>
                                        <li><a class="dropdown-item" href="#">Open world</a></li>
                                        <li><a class="dropdown-item" href="#">Indie</a></li>
                                        <li><a class="dropdown-item" href="#">Shooters</a></li>
                                        <li><a class="dropdown-item" href="#">Platformers</a></li>
                                        <li><a class="dropdown-item" href="#">City builders</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Browse all games</a></li>
                                    </div>
                                    <div class="container-dropdown-card">
                                        <div class="game-card">
                                            <app-small-game-card></app-small-game-card>
                                        </div>
                                        <div class="game-card">
                                            <app-small-game-card></app-small-game-card>
                                        </div>
                                        <div class="game-card">
                                            <app-small-game-card></app-small-game-card>
                                        </div>
                                        <div class="game-card">
                                            <app-small-game-card></app-small-game-card>
                                        </div>
                                        <div class="game-card">
                                            <app-small-game-card></app-small-game-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle navbar-item" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ABOUT
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">DiscountQuest.com</a></li>
                        <li><a class="dropdown-item" href="#">About Us</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle navbar-item" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SUPPORT
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">How DiscountQuest works</a></li>
                        <li><a class="dropdown-item" href="#">How to activate your CDKey</a></li>
                        <li><a class="dropdown-item" href="#">FAQS</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav navbar-nav">
                <div class="dropdown profile-settings-desktop">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle" style="font-size: 1.5rem"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Sign in</a></li>
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign up</a></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
                <div class="dropdown profile-settings-mobile">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle" style="font-size: 1.5rem"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Sign in</a></li>
                      <li><a class="dropdown-item" href="#">My profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Sign up</a></li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>