<button type="button" class="btn btn-secondary card">
    <span class="tooltip-name">the elder scrolls online upgrade: necrom</span>
    <div class="body-card-container">
        <div class="card-image-container">
            <img src="assets/icon/Game-img-test-1.jpg" class="card-img-top" alt="">
        </div>
        <div class="information-container">
            <div class="game-name-container">
                <p class="game-name">the elder scrolls online upgrade: necrom</p>
            </div>
            <div class="price-information-container">
                <p class="discount-game">-15%</p>
                <div class="price-game-container">
                    <p class="older-price">cop 62,900</p>
                    <p class="new-price">cop 52,954.15</p>
                </div> 
            </div>
        </div>
    </div>
</button>
